body {
    background-color: powderblue;
  }
h1 {
    color: blue;
    font-family: verdana;
    font-size: 200%;
  }
  p {
    color: red;
    font-family: courier;
    font-size: 120%;
    border: 2px solid rgb(129, 50, 5);
    padding: 25px;
  }
 